[application]

[server]
port = "3000"

[oauth2]
id = "testOauth2ID"
secret = "testOauth2Secret"

[database]
name = "passport"
user = "passport"
password = "passport"
host = "localhost"
port = 5432
maxPoolSize = 10